
.register-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background:rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-form-container.active{
    top:0;
  }
  
  .register-form-container form{
    margin:2rem;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background:#fff;
    width:50rem;
  }
  
  .register-form-container form h3{
    font-size: 3rem;
    color:#444;
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
  }
  
  .register-form-container form .box{
    width:100%;
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    margin:.6rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    text-transform: none;
  }
  
  .register-form-container form .box:focus{
    border-color: var(--pink);;
  }
  
  .register-form-container form #remember{
    margin:2rem 0;
  }
  
  .register-form-container form label{
    font-size: 1.5rem;
  }
  
  .register-form-container form .btn{
    display: block;
    width:100%;
  }
  
  .register-form-container form p{
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#666;
  }
  
  .register-form-container form p a{
    color:var(--pink);
  }
  
  .register-form-container form p a:hover{
    color:#333;
    text-decoration: underline;
  }
  
  .register-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
  }